.title
  h2
    i#backList.fa.fa-arrow-circle-left
    | #{list.name}
  .actions
    button.addItem
      .fa.fa-plus-circle
      | Novo item
include form-addItem
include form-editItem
.content
  .row
    .col-md-7
      include check-list
    .col-md-5
      include repositorio-items
