.title
  h2
    i#backList.fa.fa-arrow-circle-left
    | #{list.name}
  .actions
    button.addItem
      .fa.fa-plus-circle
      | Novo item
.content
  .row
    .col-md-6
      .check-list
    .col-md-6
      .repositorio-items
