.footer
  .container
    .row
      .col-md-12.text-right
        .p Vejo o projeto projeto no
          a(href="https://github.com/tmnavarro/check-list-pug", target="_black")
            .fa.fa-github
            |  Github
