#addList.content-form
  .form
    input#csrf(type='hidden', name='_csrf', value=_csrf)
    .row
      .col-md-6
        .form-group
          label(for='name') Nome
          input#name.form-control
      .col-md-6
        .form-group
          label(for='description') Descrição
          input#description.form-control
    .row
      .col-sm-12.text-right
        button#btnCreateList.btn.btn-default Criar agora!
