.list-itens {
  margin: 20px 0;
  display: flex;
  flex-direction: column;

  .linha {
    padding: 15px 10px;
    flex: 1;
    display: flex;
    margin-bottom: 10px;
    color: #fff;
    background: rgba(0,0,0,0.4);
    align-items: center;
    border-radius: 5px;
    border-left: 3px solid #1a9af5;
    .buttons {
      flex: 3;
      display: flex;
      .item {
        flex: 1;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      .buttons {
        margin-top: 10px;
        flex: 1;
        display: flex;
        flex-direction: row;
      }
    }
    &:hover {
      transition: .6s;
      background: rgba(0,0,0,0.6);
    }
    &.list-title {
      @media (max-width: 768px) {
        display: none
      }
      background: none;
      margin-bottom: 10px;
      height: auto;
      border: none;
    }
    .item {
      flex: 1;
      display: flex;

      strong, span {
        flex: 1;
        display: block;
        text-align: center;
      }
      strong {
        font-weight: lighter;
      }
      button {
        border: none;
        width: 30px;
        margin: 0 auto;
        .fa {
          font-size: 20px;
        }
        &.action {
          background: none;
          color: #1a9af5;
          opacity: 0.4;
          &:hover {
            transition: .6s;
            opacity: 1;
          }
        }
        &.remove {
          background: none;
          color: rgba(255,255,255,0.4);
          &:hover {
            transition: .6s;
            color: rgba(255,255,255,1);
          }
        }
      }
    }
  }
  &.check-list {
    .linha:not(.list-title) {
      color: #2f3243;
      background: #fff;
      align-items: center;
      margin: 0;
      border-radius: 0;
      border-left: 3px solid #1a9af5;
      border-top: 1px solid;
    }
    button.remove {
      color: rgba(0,0,0,0.4) !important;
    }
    .buttons {
      flex: 2;
    }
    .marcador {
      max-width: 70px;
      .checkbox {
        margin: 0 auto;
        width: 30px;
        height: 30px;
        border: 4px solid #1d5680;
        border-radius: 50%;
        display: flex;
        align-items: center;
        cursor: pointer;
        .fa {
          text-align: center;
          align-self: center;
          margin: 0 auto;
          font-size: 0;
        }
        &.checked {
          .fa {
            transition: .3s;
            font-size: 31px;
            margin-top: -8px;
            margin-left: 1px;
            color: #1a9af5;
          }
        }

      }
    }
  }
}
