.list-itens {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  .linha {
    padding: 15px 10px;
    flex: 1;
    display: flex;
    margin-bottom: 10px;
    color: #fff;
    background: rgba(0,0,0,0.4);
    align-items: center;
    border-radius: 5px;
    border-left: 3px solid #1a9af5;
    .buttons {
      flex: 3;
      display: flex;
      .item {
        flex: 1;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      .buttons {
        margin-top: 10px;
        flex: 1;
        display: flex;
        flex-direction: row;
      }
    }
    &:hover {
      transition: .6s;
      background: rgba(0,0,0,0.6);
    }
    &.list-title {
      @media (max-width: 768px) {
        display: none
      }
      background: none;
      margin-bottom: 10px;
      height: auto;
      border: none;
    }
    .item {
      flex: 1;
      display: flex;

      strong, span, button {
        flex: 1;
        display: block;
        text-align: center;
      }
      strong {
        font-weight: lighter;
      }
      button {
        margin: 0 10px;
        border: none;
        .fa {
          font-size: 20px;
        }
        &.edit-list,
        &.visit-list {
          background: none;
          color: #1a9af5;
          opacity: 0.4;
          &:hover {
            transition: .6s;
            opacity: 1;
          }
        }
        &.remove-list {
          background: none;
          color: rgba(255,255,255,0.4);
          &:hover {
            transition: .6s;
            color: rgba(255,255,255,1);
          }
        }
      }
    }
  }
}
